@model IEnumerable<Entidades.ETL.PersonaETL>

@{
    ViewBag.Title = "ConsultaPacientes";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}


<div style="margin-top:5%" class="container-fluid"></div>
<div class="container-fluid col-10">
    <h2 style="text-align:center">Consulta de Pacientes</h2>
    <div class="table-responsive-sm">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th scope="col">Identificacion</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Sº Apellido</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>


                        <td><input type="radio" name="options" value="Detalles..." class="btn btn-default" onclick="MostrarDatos(@item.Identificacion);"></td>
                        <td>@item.Identificacion</td>
                        <td>@item.Nombre</td>
                        <td>@item.PrimerApellido</td>
                        <td>@item.SegundoApellido</td>
                        
                        

                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

<br />
@section scripts
{
    @Scripts.Render("/Assets/js/consultaPaciente.js")
}


@Html.Partial("_DetallePaciente", new Entidades.ETL.PersonaETL())