@{
    ViewBag.Title = "Inicio";
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Clínica Médica del Pie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/animate.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/aos.css">
    <link rel="stylesheet" href="~/Assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/css/icomoon.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="~/Assets/images/Logo Clínica Médica del Pie-fondo.png" width="425" height="200" style="margin-left:-50%"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5%">@Html.ActionLink("Nosotros", "Nosotros", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Servicios", "Servicios", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Promociones", "Promociones", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Contacto", "Contacto", "Home", null, new { @style = "color:#000000" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('../../Assets/images/pedicura-medica-running-portada2-1556794999.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center" data-scrollax-parent="true">
                    <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="margin-left:-25%">¡Medicina moderna en un entorno tranquilo y relajado!</h1>
                        <p data-scrollax="properties: {translateY: '30%', opacity: 1.6}" style="margin-left:-25%"><b>@Html.ActionLink("LOGIN", "Login", "Login", null, new { @class = "btn btn-primary px-4 py-3" })</b></p>

                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url('../../Assets/images/bigstock-doctor-dermatologist-examines-74599093_6_928x621.jpeg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center" data-scrollax-parent="true">
                    <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="margin-left:-25%">¡Un cuidado a sus pies excelente y profesional!</h1>
                        <p data-scrollax="properties: {translateY: '30%', opacity: 1.6}" style="margin-left:-25%"><b>@Html.ActionLink("LOGIN", "Login", "Login", null, new { @class = "btn btn-primary px-4 py-3" })</b></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-services">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-2">Nuestros servicios te mantienen saludable</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/Assets/images/Icono-medicina.png" width="75" height="60"></img>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading"><u>Medicina General</u></h3>
                            <p>Se encarga de mantener la salud en todos los aspectos, analizando y estudiando el cuerpo humano en forma global.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/Assets/images/foot-print.png" width="50" height="60"></img>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading"><u>Pedicure Médica</u></h3>
                            <p>
                                Procedimiento de corte y limpieza de las uñas por medio de un equipo diseñado especialmente para dicho propósito.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/Assets/images/Foot-care.png" width="60" height="60"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading"><u>Cuidado del Pie Diabético</u></h3>
                            <p>La Diabetes puede dañar los nervios y vasos sanguíneos de sus pies. Este daño causa entumecimiento y reducción de la sensibilidad en los pies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/Assets/images/Desintoxicacion.png" width="50" height="60"></img>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading"><u>Desintoxicación Iónica</u></h3>
                            <p>Método natural para ayudar al cuerpo a eliminar toxinas dañinas y metales pesados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrap mt-5">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 img" style="background-image: url('../../Assets/images/Muñeca Clínica Médica del Pie.png')">
                </div>
                <div class="col-md-6 d-flex">
                    <div class="about-wrap">
                        <div class="heading-section heading-section-white mb-5 ftco-animate">
                            <h2 class="mb-2">Atención médica con un toque personal</h2>
                        </div>
                        <div class="list-services d-flex ftco-animate">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-check2"></span>
                            </div>
                            <div class="text">
                                <h3>Médico con experiencia</h3>
                                <p>Se cuenta con un médico con más 10 años de experiencia.</p>
                            </div>
                        </div>
                        <div class="list-services d-flex ftco-animate">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-check2"></span>
                            </div>
                            <div class="text">
                                <h3>Innovación Tecnológica</h3>
                                <p>Se cuenta con máquinas de última tecnología.</p>
                            </div>
                        </div>
                        <div class="list-services d-flex ftco-animate">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-check2"></span>
                            </div>
                            <div class="text">
                                <h3>Instalaciones agradables</h3>
                                <p>La clínica cuenta con una infraestructura agradable y que se adecua con las necesidades de los pacientes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('../../Assets/images/pedicura-medica-running-portada2-1556794999.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-3 aside-stretch py-5">
                    <div class=" heading-section heading-section-white ftco-animate pr-md-4">
                        <h2 class="mb-3">Logros</h2>
                        <p>A continucación se muestran algunos datos aproximados de la clínica:</p>
                    </div>
                </div>
                <div class="col-md-9 py-5 pl-md-5">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="18">0</strong>
                                    <span>Años de Experiencia</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="4200">0</strong>
                                    <span>Clientes Satisfechos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="500">0</strong>
                                    <span>Pacientes por Año</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="~/Assets/js/login.js"></script>
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.easing.1.3.js"></script>
    <script src="~/Assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/js/jquery.stellar.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/aos.js"></script>
    <script src="~/Assets/js/jquery.animateNumber.min.js"></script>
    <script src="~/Assets/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/js/jquery.timepicker.min.js"></script>
    <script src="~/Assets/js/scrollax.min.js"></script>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245.57843235405647!2d-84.12170469222919!3d9.995789531270063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fb4276df6703%3A0xe18f200ec91ec2c2!2sCentro%20Medico%20San%20Antonio!5e0!3m2!1ses!2scr!4v1636871653237!5m2!1ses!2scr" width="1900" height="600" allowfullscreen="" loading="lazy"></iframe>
    <script src="~/Assets/js/google-map.js"></script>
    <script src="~/Assets/js/main.js"></script>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> Desarrollado por: Jhonsel Josué Díaz Chacón - Kevin Martín Fallas Alfaro - Ana Gabriela Mora Salas
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
