@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Clínica Médica del Pie - Promociones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/animate.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/aos.css">
    <link rel="stylesheet" href="~/Assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/css/icomoon.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <a href="/"><img src="~/Assets/images/Banner.jpg" width="100%"></img></a>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5%">@Html.ActionLink("Nosotros", "Nosotros", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Servicios", "Servicios", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Promociones", "Promociones", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Contacto", "Contacto", "Home", null, new { @style = "color:#000000" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-12 text-center heading-section ftco-animate">
                    <h2 class="mb-2">Promociones de Temporada</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 ftco-animate">
                            <div class="blog-entry">
                                <a class="block-20" style="background-image: url('../../Assets/images/PROMO1.jpg');">
                                </a>
                                <div class="text d-flex py-4">
                                    <div class="desc pl-sm-3 pl-md-5">
                                        <h3 class="heading" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><u>¡Promoción Navideña!</u></h3>
                                        <p>
                                            <b style="font-size:larger; color:red">50%</b> de descuento en el Tratamiento Láser para Hongos en las Uñas.
                                            <br>
                                            Promoción válida del <b>1 al 31 de Diciembre</b>.
                                            <br>
                                            Estamos ubicados en el Centro Médico San Antonio, Heredia Centro.
                                            <br>
                                            Contáctenos al: <b>2261-1342 / 6266-3572</b>
                                            <br>
                                            <i><b style="color:red">**El pago debe realizarse en efectivo**</b></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 ftco-animate">
                            <div class="blog-entry" data-aos-delay="100">
                                <a class="block-20" style="background-image: url('../../Assets/images/PROMO2.jpg');">
                                </a>
                                <div class="text d-flex py-4">
                                    <div class="desc pl-sm-3 pl-md-5">
                                        <h3 class="heading" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><u>¡Promoción de Año Nuevo!</u></h3>
                                        <p>
                                            <b style="font-size:larger; color:red">20%</b> de descuento en la Cirugía de Uña Encarnada.
                                            <br>
                                            Promoción válida del <b>1 al 31 de Enero</b>.
                                            <br>
                                            Estamos ubicados en el Centro Médico San Antonio, Heredia Centro.
                                            <br>
                                            Contáctenos al: <b>2261-1342 / 6266-3572</b>
                                            <br>
                                            <i><b style="color:red">**El pago debe realizarse en efectivo**</b></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 sidebar ftco-animate">
                    <div class="sidebar-box ftco-animate">
                        <h3>Comentarios/Recomendaciones</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('../../Assets/images/mujer-pensando-mientras-sonrie-370x247.jpg');"></a>
                            <div class="text">
                                <h3 class="heading" style="font-family:'Eras ITC'">
                                    El trato que se recibe por parte de la doctora y de la recepcionista son insuperables.
                                    Excelentes personas, muy respetuosas y amables.
                                    Recomiendo a la Dra. Salas a ojos cerrados.
                                </h3>
                                <div class="meta">
                                    <div><span class="icon-calendar"></span> Febrero, 2021</div>
                                    <div><span class="icon-person"></span> Maga Gómez</div>
                                </div>
                            </div>
                        </div>

                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('../../Assets/images/image_1.jpg');"></a>
                            <div class="text">
                                <h3 class="heading" style="font-family:'Eras ITC'">Son súper buenos, excelente trato y profesionalismo...Gracias</h3>
                                <div class="meta">
                                    <div><span class="icon-calendar"></span> Octubre, 2020</div>
                                    <div><span class="icon-person"></span> Eve Salas</div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('../../Assets/images/image_2.jpg');"></a>
                            <div class="text">
                                <h3 class="heading" style="font-family:'Eras ITC'">
                                    El trato tanto de la recepcionista como de la doctora es demasiado especial.
                                    La doctora es muy preocupada por la salud de sus pacientes, yo la recomiendo mil x mil
                                </h3>
                                <div class="meta">
                                    <div><span class="icon-calendar"></span> Julio, 2019</div>
                                    <div><span class="icon-person"></span> Eli Arguedas</div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('../../Assets/images/image_3.jpg');"></a>
                            <div class="text">
                                <h3 class="heading" style="font-family:'Eras ITC'">
                                    Súper recomendada, son excelentes
                                </h3>
                                <div class="meta">
                                    <div><span class="icon-calendar"></span> Set, 2019</div>
                                    <div><span class="icon-person"></span> Patri Peñaranda</div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('../../Assets/images/person_3.jpg');"></a>
                            <div class="text">
                                <h3 class="heading" style="font-family:'Eras ITC'">
                                    Súper recomendado, el trato y la Doctora super especial!
                                </h3>
                                <div class="meta">
                                    <div><span class="icon-calendar"></span> Mar, 2019</div>
                                    <div><span class="icon-person"></span> Chris Rodríguez</div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('../../Assets/images/6fa87ce6-25e8-4c27-887a-2d2eaece0590.jpg');"></a>
                            <div class="text">
                                <h3 class="heading" style="font-family:'Eras ITC'">
                                    Súper recomendada... Excelente trato y profesionalismo. La doctora buenísima!
                                </h3>
                                <div class="meta">
                                    <div><span class="icon-calendar"></span> Enero, 2018</div>
                                    <div><span class="icon-person"></span> Rosa Espinoza</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="~/Assets/js/login.js"></script>
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.easing.1.3.js"></script>
    <script src="~/Assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/js/jquery.stellar.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/aos.js"></script>
    <script src="~/Assets/js/jquery.animateNumber.min.js"></script>
    <script src="~/Assets/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/js/jquery.timepicker.min.js"></script>
    <script src="~/Assets/js/scrollax.min.js"></script>
    <script src="~/Assets/js/google-map.js"></script>
    <script src="~/Assets/js/main.js"></script>

    <footer class="col-md-12 text-center">
        <p style="font-family:'Eras ITC'">&copy; @DateTime.Now.Year / Desarrollado por: Jhonsel Josué Díaz Chacón - Kevin Martín Fallas Alfaro - Ana Gabriela Mora Salas</p>
    </footer>
</body>
</html>


