@model Entidades.ETL.PersonaETL
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Clínica Médica del Pie - Login</title>

    <a href="/"><img src="~/Assets/images/Banner.jpg" width="100%"></img></a>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Assets/css/login.css" rel="stylesheet" id="bootstrap-css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/animate.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/aos.css">
    <link rel="stylesheet" href="~/Assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/css/icomoon.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/login.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5%">@Html.ActionLink("Nosotros", "Nosotros", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Servicios", "Servicios", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Promociones", "Promociones", "Home", null, new { @style = "color:#000000" })</li>
                    <li class="nav-item" style="font-family:'Eras ITC'; font-size:large; margin-right:5% ">@Html.ActionLink("Contacto", "Contacto", "Home", null, new { @style = "color:#000000" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="login-reg-panel" style="margin-top:-10%">
        <div class="login-info-box">
            <h2 style="font-family: 'Eras ITC'; color: white">Crear cuenta</h2>
            <br>
            <label id="label-register" for="log-reg-show" style="font-family: 'Eras ITC';">Login</label>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>

        <div class="register-info-box">
            <h2 style="font-family: 'Eras ITC'; color: white">Registrarse</h2>
            <br>
            <label id="label-login" for="log-login-show" style="font-family: 'Eras ITC';">Registrar</label>
            <input type="radio" name="active-log-panel" id="log-login-show">
        </div>


        <div class="white-panel">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
            <div class="login-show">
                <h2 style="font-family: 'Eras ITC';"></h2>
                <input type="text" name="correoLogin" placeholder="Correo">
                <input type="password" name="contrasenaLogin" placeholder="Contraseña">
                <button type="submit" class="btn btn-primary col-3" style="font-family: 'Eras ITC'; margin-left:auto">Entrar</button>
                <a href="" style="font-family: 'Eras ITC'; margin-left:40%">¿Olvidó su contraseña?</a>
            </div>
            }



            @using (Html.BeginForm("Registrar", "Login", FormMethod.Post))
            {
                <div class="register-show container">
                    <div class="row justify-content-lg-center">
                        <h2 style="color:black; font-family:'Eras ITC'; font-size:xx-large;" class="align-content-center">REGISTRARSE</h2>
                    </div>
                    <div class="row">
                        <div class="register-show col-6">

                            <input type="text" name="nombre" placeholder="Nombre">
                            <input type="text" name="papellido" placeholder="Primer Apellido">
                            <input type="text" name="sapellido" placeholder="Segundo Apellido">
                            <input type="text" name="identificacion" placeholder="Identificacion">
                        </div>
                        <div class="register-show col-6">

                            <input type="text" name="telefono" placeholder="Telefono">
                            <input type="text" name="correo" placeholder="Correo">
                            <input type="password" name="contrasena1" placeholder="Contraseña">
                            <input type="password" name="Contrasena" placeholder="Confirmar Contraseña">
                            <button type="submit" class="btn btn-primary" style="font-family: 'Eras ITC';">Registrar</button>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>


    <script src="~/Assets/js/login.js"></script>
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.easing.1.3.js"></script>
    <script src="~/Assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/js/jquery.stellar.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/aos.js"></script>
    <script src="~/Assets/js/jquery.animateNumber.min.js"></script>
    <script src="~/Assets/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/js/jquery.timepicker.min.js"></script>
    <script src="~/Assets/js/scrollax.min.js"></script>
    <script src="~/Assets/js/google-map.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <br>    <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>    <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>   <br>

    <footer class="col-md-12 text-center">
        <p style="font-family:'Eras ITC'">&copy; @DateTime.Now.Year / Desarrollado por: Jhonsel Josué Díaz Chacón - Kevin Martín Fallas Alfaro - Ana Gabriela Mora Salas</p>
    </footer>

</body>
</html>
